<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Faster</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <div class="grid">
        <header></header>
        <div class="phone"></div>
        <div class="hero">
            <dii class="hero-content">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit harum ea ad quam rem odio libero. Aspernatur, obcaecati reprehenderit. Facilis voluptatem vitae harum iure numquam nihil modi, veritatis nam quia?</p>
            </div>
        </div>
        <section></section>
        <section></section>
        <section></section>
        <section></section>
        <section></section>
    </div>
    <section></section>
    <section></section>
    <section></section>
    <section></section>

</body>
</html>