.header {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1.5rem; /*Padding en los extremos izquierdo y derecho*/
    border-block-end: 1px solid var(--gray10); 
}

.header-logo{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.header-primary {
    display: flex;
    align-content: center;
    gap: 3rem;
}

.header-secondary{
    display: flex;
    align-content: center;
    gap: 3rem;
}

/*
Header

Vamos a componer el área superior de nuestro proyecto, al propio estilo de flexbox
.header.css

*/