.modal{
    /* border: 1px solid red;  */
    /*Es un contenedor flexible*/
    /* display: flex; */
    flex-direction: column; /*posiciona los flex items como columna o bloques*/
    gap: 1rem;
    max-inline-size: 28rem;
    inline-size: 100%; /*Esto para cuando se tenga pantallas más pequeñas*/
    border-radius: .25rem;
    border: none;
    box-shadow: 1.0719px 30.9815px 92px rgba(0, 0, 0, 0.0274815), 0.412881px 11.9336px 29.3037px rgba(0, 0, 0, 0.0425185), 0.0873403px 2.52442px 7.4963px rgba(0, 0, 0, 0.07);
    margin: initial;/*unset, 0 o none initial resetean*/
    position: absolute;
    top:200px;
    left:200px;
    padding-inline: 3rem; 
    padding-block: 1.5rem; 

}
/*Si modal tiene el atributo open*/
.modal[open]{
    display: flex;
}

/*Pseudoelemento*/
.modal::backdrop {
    background: rgba(0, 0, 0, .3); /*Al estar activo el modal, se pone un estilo en el fondo*/ 
}

.modalActions {
     display: flex;
     justify-content: flex-end;
     gap: 1.5rem;
}

/*
Modal
Este componente multiusos contendrá información en la que nos debemos enfocar en dicho momento, como la creación de una nueva tarea.
*/