<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Instagram layout</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <div class="wrapper">
        <div class="grid">
            <div class="post">
                <img src="http://place-puppy.com/200x400" alt="Placeholder Puppy">
            </div>

            <div class="post">
                <img src="http://place-puppy.com/200x200" alt="Placeholder Puppy">
            </div>

            <div class="post">
                <img src="http://place-puppy.com/200x200" alt="Placeholder Puppy">
            </div>

            <div class="post">
                <img src="http://place-puppy.com/200x200" alt="Placeholder Puppy">
            </div>

            <div class="post">
                <img src="http://place-puppy.com/200x200" alt="Placeholder Puppy">
            </div>

            <div class="post">
                <img src="http://place-puppy.com/200x200" alt="Placeholder Puppy">
            </div>

            <div class="post">
                <img src="http://place-puppy.com/200x200" alt="Placeholder Puppy">
            </div>

            <div class="post">
                <img src="http://place-puppy.com/200x200" alt="Placeholder Puppy">
            </div>

            <div class="post">
                <img src="http://place-puppy.com/200x200" alt="Placeholder Puppy">
            </div>
        </div>
    </div>
</body>
</html>