<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homer website</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <div class="grid">
        <img class="mouth" src="./img/boca.gif" alt="">
        <img class="bell" src="./img/campana.gif" alt="">
        <img class="god" src="./img/dios.gif" alt="">
        <img class="worm" src="./img/gusano.gif" alt="">
        <img class="clock" src="./img/reloj.gif" alt="">
        <img class="toaster" src="./img/tostadora.gif" alt="">
    </div>
</body>
</html>