.container{
    display: grid;  
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 300px));    */
    /* grid-template-rows: repeat(auto-fill, minmax(200px, 300px));       */
    grid-auto-columns: repeat(200px 1fr); 
    grid-auto-rows: 200px; /*Para que no se vaya generando filas implicitas*/

    gap: 1rem;
    block-size: 100vh;
    max-inline-size: 1024px; /*max-width*/
    margin: auto;/*centrar*/
    

}

.item{
    border: 5px solid red;
    counter-increment: item; 
}

.item::before{
    content: counter(item);
}
